<html></html><h1>Bienvenue sur notre site de potins !</h1> <
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>La liste des potins arrive bientôt. En attendant, vous pouvez <a href="/gossips/new/">créer un nouveau potin</a>.</p>
  </body>

